// Specific CSS for your home-page
#page-container {
  position: relative;
  min-height: 100vh;
  #content-wrap {
    padding-bottom: $footer_height;
  }
}

.container-learn {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  flex-grow: 1;
}

@media (max-width: 768px){
  .container-learn {
    grid-template-columns: 1fr;
  }
}

#learn h2{
  color: #171b2d94;
  font-size: 35px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  #learn h2{
    font-size: 30px;
  }
}

#practice h2{
  color: white;
  font-size: 35px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  #practice h2{
    font-size: 30px;
  }
}

#hired h2{
  color: #171b2d94;
  font-size: 35px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  #hired h2{
    font-size: 30px;
  }
}

.action-text {
  margin-top: 10px;
  height: 500px;
  background-color: white;
}

.lecture {
  overflow: scroll;
}

.form {
  height: 45px;
  width: 1063px;
}