// Specific CSS for your home-page
#page-container {
  position: relative;
  min-height: 100vh;
  #content-wrap {
    padding-bottom: $footer_height;
  }
}

.action-text {
  margin-top: 10px;
  height: 500px;
  background-color: white;
}

.lecture {
  overflow: scroll;
}

.form {
  height: 45px;
  width: 1063px;
}