// Specific CSS for your home-page
#page-container {
  position: relative;
  min-height: 100vh;
  #content-wrap {
    padding-bottom: $footer_height;
  }
}

.container-learn {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  flex-grow: 1;
}

@media (max-width: 768px){
  .container-learn {
    grid-template-columns: 1fr;
  }
}