<div class="card-product">
  <img src="https://source.unsplash.com/random" />
  <div class="card-product-infos">
    <h2>Learn Ruby</h2>
    <p>Learn to program in Ruby, a ﬂexible and beginner-friendly language used to create sites</p>
    <ul class="card-list">
      <li class="card-list-item"><i class="fas fa-coffee">Ruby</i></li>
      <li class="card-list-item"><i class="fas fa-coffee">Back-end</i></li>
      <li class="card-list-item"><i class="fas fa-coffee">begginer Friendly</i></li>
    </ul>
  </div>
</div>
