.card-carousel-vis{
  padding-bottom: 16px;
  flex-direction: column;
  width: 720px;
  margin: auto;
}

.carousel-item img {
  width: 720px;
  height: 480px;
}

.carousel-arrow-box {
  width: 30px;
  height: 30px;
  background-color:rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  ;
}

@media (min-width: 300px) {
  .card-carousel-vis {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .card-carousel-vis {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .card-carousel-vis {
    width: 720px;
  }
}
