$footer_height: 160px;

#footer {
  background: #303960;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer_height;
  padding: 0px 50px;
  color: #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.photo {
  
}

.margin-footer {
  margin-bottom: $footer_height + 16px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.help-footer{
  display: flex;
  flex-direction: column;
  min-height: 722px;
}