.navbar-lewagon {
  justify-content: space-between;
  background: #202529;
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-light .navbar-nav .nav-link-light {
  color: white;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link-light:hover {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link-dark{
  color: black;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link-grey{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}